<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="./css/index.css" rel="stylesheet" />
        <script src="..public/js/store.js"></script>
        <script>
          const data = JSON.parse('<%-JSON.stringify(file)%>');

          
            // console.log(datas)
          sessionStorage.setItem(data.isetName, data.isetData);
          sessionStorage.setItem(data.fsetName, data.fsetData);
          sessionStorage.setItem(data.fset3Name, data.fset3Data);
          
        </script>
        <title>ARMusicPlayer</title>
    </head>
    <body>
        <div class="main">
            <div class="title"><p>teste</p></div>
            <div class="background_image"></div>
            <div class="sentence">@@@@@@@@@@@@@@@@@@@@@@@@</div>
            <div class="upload_file">
                <!-- <form method="post" enctype="multipart/form-data" onsubmit="hogehoge(); return false;" > -->
                <form method="post" enctype="multipart/form-data" onsubmit="hogehoge(); return false;" >
                  <div>
                    <input id="file" type="file" name="file" multiple accept="image/*"/>
                  </div>
                  <div>
                    <input id="button" type="submit" value="送信する"/>
                  </div>
                </form>
            </div>
            <form action="/camera">
              <div class="go_ar">
                  <span class="v1_13"></span>
                  <input type="submit" value="再生する！">
              </div>
            </form> 
            <div>
              <% if (file) { %>
              <p><%- JSON.stringify(file) %></p>
              <% } %>
            </div>
            <!-- <canvas id="mycanvas" width="800" height="500"></canvas> -->
        </div>
    </body>
</html>